<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cm.mapper.AccountMapper">
	<select id="getAccount" resultType="account">
		<![CDATA[
			select * from account fetch first one rows only
        ]]>
	</select>
	
	<select id="getAllAccount" resultType="list" resultMap="accountResultMap">
		<![CDATA[
			select * from account
        ]]>
	</select>
	
	<select id="getAccountById" parameterType="string" resultType="com.cm.entity.Account" resultMap="accountResultMap">
		<![CDATA[
			select * from account where account_id = #{id}
        ]]>
	</select>
	
	<select id="getAccountByNames" parameterType="string" resultMap="accountMap.accountResultMap">
		<![CDATA[
			select * from account where username = #{name}
        ]]>
	</select>
	
	<select id="getListByNameAndPassword" parameterType="map" resultType="list"  resultMap="accountResultMap">
		<![CDATA[
			select * from account where username = #{h_name} and password=#{h_password}
        ]]>
	</select>
	
	<sql id="user_name_pwd">
		username, password
	</sql>
	
	<insert id="addAccount" useGeneratedKeys="true" keyProperty="account_id" parameterType="account">
		insert into account(account_id, status, username, password)
		values(#{accountId}, #{status}, #{username}, #{password})
	</insert>

	<insert id="addAccount4Key" parameterType="account">
		<selectKey keyProperty="account_id" order="BEFORE" resultType="int">
			select cast(random() * 10000 as Integer) a from #Tab
		</selectKey>
		insert into account(account_id, status, username, password)
		values(#{accountId}, #{status}, #{username}, #{password})
	</insert>
	
	<update id="editAccount" parameterType="account">
		update account set
		status = #{status},
		username = #{username},
		password = #{password}
		where account_id = #{accountId}
	</update>
	
	<delete id="removeAccount" parameterType="int">
		delete from account where account_id = #{id}
	</delete>
</mapper>
