<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cm.mapper.AccountMapper">
	<select id="getAccount" resultType="account">
		<![CDATA[
			select * from daohe_user fetch first one rows only
        ]]>
	</select>
	
	<select id="getAllAccount" resultType="list" resultMap="accountResultMap">
		<![CDATA[
			select * from daohe_user where is_deleted=0
        ]]>
	</select>
	
	<select id="getAccountById" parameterType="string" resultType="com.cm.entity.Account" resultMap="accountResultMap">
		<![CDATA[
			select * from daohe_user where user_id = #{id} and  is_deleted=0
        ]]>
	</select>
	
	<select id="getAccountByNames" parameterType="string" resultMap="accountMap.accountResultMap">
		<![CDATA[
			select * from daohe_user where username = #{name}  is_deleted=0
        ]]>
	</select>
	
	<select id="getListByNameAndPassword" parameterType="map" resultType="list"  resultMap="accountResultMap">
		<![CDATA[
			select * from daohe_user where username = #{h_name} and password=#{h_password} and  is_deleted=0
        ]]>
	</select>
	
	<sql id="user_name_pwd">
		username, password
	</sql>
	
	<insert id="addAccount" useGeneratedKeys="true" keyProperty="user_id" parameterType="account">
		insert into daohe_user(user_id, username, password,is_deleted,sex,email,phone,photo)
		values(#{accountId},#{username}, #{password},0, #{sex}, #{email}, #{phone}, #{photo})
	</insert>

	
	<update id="editAccount" parameterType="account">
		update daohe_user set
		is_deleted = #{isDeleted},
		username = #{username},
		password = #{password}
		where account_id = #{accountId}
	</update>
	
	<delete id="removeAccount" parameterType="int">
		update daohe_user
		set is_deleted=1
	    where user_id = #{id}
	</delete>
</mapper>
