<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cm.mapper.CustomerMapper">

<select id="getListByNameAndPassword" parameterType="map" resultType="list" resultMap="customerResultMap">
		<![CDATA[
			select * from customer where name = #{c_name} and pass=#{c_password}
        ]]>
	</select>

</mapper>